.cool-button {
  background-color: var(--accent);
  color: var(--input-text);
  border: none;
  border-radius: 100px;
  width: max-content;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: var(--accent_hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--accent_focus) inset;
  }
}
